

.search-container {
    border: 4px inset rgba(9, 137, 212, 0.808);
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}

.submit {
    background-color: rgba(9, 30, 87, 0.815);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 2rem;
    margin-left: .5rem;
}

.search-input {
    height: 1rem;
    

}
.search-input:hover {
    height: 1rem;
    border: 6px solid rgba(17, 131, 207)
    

}
.search-input:focus {
    height: 1.5rem;
    border: 8px inset rgba(17, 131, 207, 0.918)
    

}

.logo{
    font-family: fantasy;
    font-size: 1.5rem;
    color: rgba(9, 30, 87, 0.815);
    margin-left: 2rem;
    letter-spacing: .5rem;
}

