.title {
    width:20rem;
    text-align: left;
  
}
.platform {
    width:7rem;
    text-align: center;
  
}
.publisher {
    width:7rem;
    text-align: center;
   
}
.genre {
    width:7rem;
    text-align: center;
  
}
.year {
    width:4rem;
    text-align: center;
  
}

.sticky{
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    background-color: white;
    height: 4rem;
    padding-bottom: 3rem;
    padding-left: 0;
    
}

.results {
    margin-bottom: 0;
    font-size: 1.5rem;
}

.game-chart {
    height: 4rem;
    background-color: rgba(9, 30, 87, 0.815);
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

