.global-chart-heading{
    text-align: center;
    margin-bottom: 0;
    color: rgba(1, 0, 66, 0.938);
}

.toggle-button {
    margin-left: 38rem;
    width: 8rem;
    height: 4rem;
    background-color:rgba(9, 30, 87, 0.815);
    color:bisque
}


